<main class="main_container">
    <div class="container_body container">
        <app-barra-lateral></app-barra-lateral>
        <section class="articles container">
            <article class="articles_box_ppal">
                <div class="articles_title">
                    <h1>Buscar en el Archvivo</h1>
                    <p>POST creados hace ya un tiempo</p>
                </div>
                    <div class="content_art_ppal">
                        <div class="content_buscador">
                            <input class="buscar_temas" type="text" placeholder="Agregue un temas...">
                        </div>
                        <div class="content_buscar_mensaje">
                            <h3>Algo para recordar...</h3>
                            <p>Si buscas la verdad, podrás encontrar confort al final; si buscas confort, no encontrarás ni verdad ni confort. Clive Staples Lewis (1898-1963) Escritor británico.</p>
                        </div>
                    </div>
            </article>
            <app-tres-ultimos-post></app-tres-ultimos-post>
        </section>
    </div>
</main>

