<main class="main_container">
    <div class="container_body container">
        <app-barra-lateral></app-barra-lateral>
        <section class="articles container">
            <article class="articles_box_ppal">
                        <picture class="picture_box_ppal">
                            <img src="{{image}}" alt="">
                        </picture>
                        <div class="articles_title">
                            <h1>{{titulo}}</h1>
                            <p>{{intro}}</p>
                        </div>
                        <div class="content_art_ppal">
                                <!-- <h3>Mi vida en veinticinco minutos</h3> -->
                            <p [innerHTML] = "formatoContenido(contenido)"></p>
                        </div>
                        
                        <h2 class="comentario_tile"><b>Comentarios sobre el Post</b></h2>
                        <div class="list_comentarios">
                            <div *ngIf="loading" class="loading-indicator">Cargando...</div>
                            <ul>
                                <div *ngIf="!comentario.length">
                                    <h3>No hay comentarios disponibles.</h3>
                                  </div>
                                @for (coment of comentario; track $index) {   
                                <li>
                                    <div class="comentario_caja">
                                        <p class="Coment_name">{{coment.nombre}} | {{coment.creadoEn |date:"yyyy/MM" }}</p>
                                        <p class="coment_coment">{{coment.comentar}}</p> <br> 
                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                        <h2 class="comentario_tile"><b>Envianos tus comentarios</b></h2>
                        <div class="content_art_ppal">
                            <div class="content_form_contact">
                                <form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>
                                    <p>Nombre:</p>
                                    <small class="validaciones" *ngIf="forma.controls['nombre']?.invalid && (forma.controls['nombre']?.dirty || forma.controls['nombre']?.touched)">
                                        El nombre es obligatorio
                                    </small>
                                    <input type="text" class="field form-control" name="nombre" [(ngModel)]="usuario.nombre" required>
                                    
                                    <p>Correo Electrónico:</p>
                                    <small class="validaciones" *ngIf="forma.controls['email']?.invalid && (forma.controls['email']?.dirty || forma.controls['email']?.touched)">
                                        El email es obligatorio
                                    </small>
                                    <input type="email" class="field form-control" name="email" [(ngModel)]="usuario.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                                    
                                    <p>Comentario:</p>
                                    <small class="validaciones" *ngIf="forma.controls['comentar']?.invalid && (forma.controls['comentar']?.dirty || forma.controls['comentar']?.touched)">
                                        El comentario es obligatorio
                                    </small>
                                    <textarea class="field form-control" name="comentar" [(ngModel)]="usuario.comentar" required></textarea>
                                    <input type="hidden" name="postId" [(ngModel)]="usuario.postId">
                                    <input type="hidden" name="creadoEn" [(ngModel)]="usuario.creadoEn">
                                    <input type="hidden" name="editadoEn" [(ngModel)]="usuario.editadoEn">
                                    
                                
                                    <div class="centrar_boton">
                                        <button type="submit" class="boton_enviar" [disabled]="!forma.valid" (click)="incrementarComentarios(usuario.postId)">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
            </article>
            <app-tres-ultimos-post></app-tres-ultimos-post>
        </section>
    </div>
</main>

