<main class="main_container">
    <div class="container_body container">
        <app-barra-lateral></app-barra-lateral>
        <section class="articles container">
            <article class="articles_box_ppal">         
                <div id="form" class="articles_title">
                    <h1>Formulario de Contactos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad voluptate fuga quod, cumque minus!</p>
                </div>
                    <div class="content_art_ppal">
                        <div class="content_form_contact">
                            <form action="">
                                <p>Nombre:</p>
                                <input type="text" class="field">
                                <p>Correo Electrónico:</p>
                                <input type="text" class="field">
                                <p>Asunto:</p>
                                <input type="text" class="field">
                                <p>Mensaje:</p>
                                <textarea class="field"></textarea>
                                <div class="centrar_boton">
                                    <button class="boton_enviar">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </article>
            <app-tres-ultimos-post></app-tres-ultimos-post>
        </section>
    </div>
</main>
