<main class="main_container">
    <div class="container_body container">
        <app-barra-lateral></app-barra-lateral>
        <section class="articles container">
            <article class="articles_box_ppal">         
                <div id="form" class="articles_title">
                    <h1>Formulario de Contactos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad voluptate fuga quod, cumque minus!</p>
                </div>
                    <div class="content_art_ppal">
                        <div class="content_form_contact">
                            <form autocomplete="off"
                                (ngSubmit)="enviar(forma)"
                                  #forma ="ngForm"
                                  novalidate>
                                <p>Nombre:</p>
                                <small class="validaciones" *ngIf="forma.controls['Nombre']?.invalid && (forma.controls['Nombre']?.dirty || forma.controls['Nombre']?.touched)">
                                    El nombre es obligatorio
                                </small>
                                <input type="text" class="field formControl" name="Nombre" 
                                [(ngModel)]="contacto.Nombre" required>
                                <p>Correo Electrónico:</p>
                                <small class="validaciones" *ngIf="forma.controls['Email']?.invalid && (forma.controls['Email']?.dirty || forma.controls['Email']?.touched)">
                                    El email es obligatorio
                                </small>
                                <input type="email" class="field formControl"name="Email"
                                [(ngModel)]="contacto.Email"
                                required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                                <p>Mensaje:</p>
                                <small class="validaciones" *ngIf="forma.controls['Mensaje']?.invalid && (forma.controls['Mensaje']?.dirty || forma.controls['Mensaje']?.touched)">
                                    El comentario es obligatorio
                                </small>
                                <textarea 
                                class="field formControl"
                                name="Mensaje"
                                [(ngModel)]="contacto.Mensaje"
                                required>
                                </textarea>
                                <div class="centrar_boton">
                                    <button 
                                       class="boton_enviar"
                                       type="submit"
                                       [disabled]="!forma.valid"
                                    >Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </article>
            <app-tres-ultimos-post></app-tres-ultimos-post>
        </section>
    </div>
</main>
