<header>
    <nav class="navbar container">
        <picture class="navbar_logo">
            <a routerLink="/">
                <img src="../../../assets/img/titulo_negro.svg" alt="El Nucleo" style="width: 240px;">
            </a>
        </picture>
        <ul class="navbar_menu">
            <li class="navbar_item"><a routerLink="/home" class="navbar_item_link">Home</a></li>
            <!-- <li class="navbar_item"><a routerLink="/archivo" class="navbar_item_link">Archivo</a></li> -->
            <li class="navbar_item"><a  routerLink="/temas" class="navbar_item_link">Buscar Temas</a></li>
            <li class="navbar_item"><a routerLink="testimonio" class="navbar_item_link">Testimonios</a></li>
            <li class="navbar_item"><a routerLink="/acerca" class="navbar_item_link">Acerca de..</a></li>
            <li class="navbar_item"><a routerLink="/contacto" class="navbar_item_link">Contáctanos</a></li>
        </ul>
    </nav>
</header>
