<!-- <app-header></app-header> -->
<main class="main_container">
  <section class="Hero">
<!--             <div class="hero_cuadros_c3"></div> -->
      <div class="hero_cuadros_c2"></div>
      <div class="hero_cuadros_c1"></div>
      <div class="hero_titles container">
          <p class="hero_titles_text">Marco de trabajo</p>
          <p class="hero_titles_text_1">PROMOVEMOS</p>
          <p class="hero_titles_text2">Adaptabilidad, Desarrollo Personal y Bienestar</p>
          <a class="hero_title_link" href="">Contactanos</a>
      </div>
  </section>
  <!-- Barra lateral -->
  <div class="container_body container">
      <section class="aside">
          <aside class="aside_container container">
              <form class="aside_form" action="">
                  <p>Buscar</p>
                  <label for="">Encontrar Artículo</label>
                  <input type="text">
              </form>
              
              <form class="aside_form" action="">
                  <p>Suscribirse</p>
                  <label for="">Correo Electrónico</label>
                  <input type="text">
              </form>
              <a class="hero_title_link" href="">Contactanos</a>
          </aside>
      </section>
      <section class="articles container">
          <article class="articles_box_ppal">
              <a href="">
                  <div class="content_art_ppal">
                      <h3>titulo del articulo ppal.</h3>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet deserunt nulla cumque natus perspiciatis, nihil temporibus fuga dolorem quaerat, dolore, tempora totam aperiam? Sit in maxime quae ad vero odit laboriosam, rerum ipsa corrupti itaque porro vel consequatur labore totam? Inventore asperiores explicabo commodi eveniet repudiandae perferendis ullam veritatis quasi!</p>
                      <p class="vermas">ver mas..</p>
                  </div>
                  <picture class="article_image_ppal">
                      <img src="https://xombit.com/files/2012/12/Costa-de-Glamorgan-Heritage-640x480.jpg" alt="">
                  </picture>
              </a>
              <div class="cont_indicadores">
                <a href="">
                  <picture>
                      <img src="../assets/img/eye-line.svg" alt="">
                      <p>12</p>
                  </picture>
                </a>
                  <a href="">
                    <picture>
                        <img src="../assets/img/comment-outlined.svg" alt="">
                        <p>5</p>
                    </picture>
                  </a>
                  <a href="">
                      <picture>
                      <img src="../assets/img/heart-bold.svg" alt="">
                      <p>18</p>
                    </picture>
                  </a>
              </div>
          </article>
          <ul class="content_last_art">
              <li>
                  <article class="articles_box">
                      <a href="#">
                          <picture class="article_image">
                              <img src="https://img.freepik.com/foto-gratis/santa-maddalena-cordillera-dolomitastirol-sur_661209-237.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1703894400&semt=sph" alt="">
                          </picture>
                          <div class="article_text_content">
                              <h3>titulo del articulo secundario.</h3>
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet deserunt nulla cumque natus perspiciatis, nihil temporibus fuga dolorem quaerat, dolore, tempora totam aperiam? Sit in maxime quae ad vero odit laboriosam, rerum ipsa corrupti itaque porro vel consequatur labore totam? Inventore asperiores explicabo commodi eveniet repudiandae perferendis ullam veritatis quasi!</p>
                              <p class="vermas">ver mas..</p>
                          </div>
                      </a>
                      <div class="cont_indicadores">
                        <a href="">
                          <picture>
                              <img src="../assets/img/eye-line.svg" alt="">
                              <p>12</p>
                          </picture>
                        </a>
                          <a href="">
                            <picture>
                                <img src="../assets/img/comment-outlined.svg" alt="">
                                <p>5</p>
                            </picture>
                          </a>
                          <a href="">
                            <picture>
                                <img src="../assets/img/heart-bold.svg" alt="">
                                <p>18</p>
                            </picture>
                          </a>
                      </div>
                  </article>
              </li>
              <li>
                  <article class="articles_box">
                      <a href="">
                          <picture class="article_image">
                              <img src="https://img.freepik.com/foto-gratis/paisaje-niebla-matutina-montanas-globos-aerostaticos-al-amanecer_335224-794.jpg" alt="">
                          </picture>
                          <div class="article_text_content">
                              <h3>titulo del articulo secundario.</h3>
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet deserunt nulla cumque natus perspiciatis, nihil temporibus fuga dolorem quaerat, dolore, tempora totam aperiam? Sit in maxime quae ad vero odit laboriosam, rerum ipsa corrupti itaque porro vel consequatur labore totam? Inventore asperiores explicabo commodi eveniet repudiandae perferendis ullam veritatis quasi!</p>
                              <p class="vermas">ver mas..</p>
                          </div>
                      </a>
                      <div class="cont_indicadores">
                        <a href="">
                          <picture>
                              <img src="../assets/img/eye-line.svg" alt="">
                              <p>12</p>
                          </picture>
                        </a>
                          <a href="">
                            <picture>
                                <img src="../assets/img/comment-outlined.svg" alt="">
                                <p>5</p>
                            </picture>
                          </a>
                          <a href="">
                            <picture>
                                <img src="../assets/img/heart-bold.svg" alt="">
                                <p>18</p>
                            </picture>
                          </a>
                      </div>
                  </article>
              </li>
              <li>
                  <article class="articles_box">
                      <a href="">
                          <picture class="article_image">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPX2Cc_sJyCVoN7nnXOon5HQuFlkXPBRKwmEtocm3OUvJXVWUdcCfg7EAhu901mj8HBiM&usqp=CAU" alt="">
                          </picture>
                          <div class="article_text_content">
                              <h3>titulo del articulo secundario.</h3>
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet deserunt nulla cumque natus perspiciatis, nihil temporibus fuga dolorem quaerat, dolore, tempora totam aperiam? Sit in maxime quae ad vero odit laboriosam, rerum ipsa corrupti itaque porro vel consequatur labore totam? Inventore asperiores explicabo commodi eveniet repudiandae perferendis ullam veritatis quasi!</p>
                              <p class="vermas">ver mas..</p>
                          </div>
                      </a>
                      <div class="cont_indicadores">
                        <a href="">
                          <picture>
                              <img src="../assets/img/eye-line.svg" alt="">
                              <p>12</p>
                          </picture>
                        </a>
                          <a href="">
                            <picture>
                                <img src="../assets/img/comment-outlined.svg" alt="">
                                <p>5</p>
                            </picture>
                          </a>
                          <a href="">
                            <picture>
                                <img src="../assets/img/heart-bold.svg" alt="">
                                <p>18</p>
                            </picture>
                          </a>
                      </div>
                  </article>
              </li>
              
          </ul>
      </section>
  </div>
</main>
<!-- <app-footer></app-footer> -->
