<!-- <app-header></app-header> -->
<main class="main_container">
  <section class="Hero">
<!--             <div class="hero_cuadros_c3"></div> -->
      <div class="hero_cuadros_c2"></div>
      <div class="hero_cuadros_c1"></div>
      <div class="hero_titles container">
          <p class="hero_titles_text">Marco de trabajo</p>
          <p class="hero_titles_text_1">PROMOVEMOS</p>
          <p class="hero_titles_text2">Adaptabilidad, Desarrollo Personal y Bienestar</p>
          <a class="hero_title_link" routerLink="/contacto">Contactanos</a>
      </div>
  </section>
  <!-- Barra lateral -->
  <div class="container_body container">
    <app-barra-lateral></app-barra-lateral>
      <section class="articles container">
          <app-post-ppal></app-post-ppal>
          <div *ngIf="loading" class="loading-indicator">Cargando...</div>
          <ul class="content_last_art">
            @for (item of post; track $index) {
              <li>
                  <article class="articles_box">
                    <a [routerLink]="['/post', item.id]" (click)="incrementarVisitas(item.id)">
                          <picture class="article_image">
                              <img src="{{item.image}}" 
                               alt="imagen">
                          </picture>
                          <div class="article_text_content">
                              <h3>{{item.titulo}}</h3>
                              <p>{{item.intro}}</p>
                              <p class="vermas">ver mas..</p>
                          </div>
                      </a>
                    </article>
                    <div class="cont_indicadores">
                        <picture>
                            <img src="../assets/img/eye-line.svg" alt="">
                            <p>{{item.visitas}}</p>
                        </picture>       
                          <picture>
                              <img src="../assets/img/comment-outlined.svg" alt="">
                              <p>{{item.cantComentarios}}</p>
                          </picture>
                        <a (click)="incrementarLikes(item.id)">
                          <picture>
                              <img src="../assets/img/heart-bold.svg" alt="">
                              <p>{{item.likes}}</p>
                          </picture>
                        </a>
                    </div>
              </li>
            }
          </ul>
          <!-- <app-tres-ultimos-post></app-tres-ultimos-post> -->
      </section>
  </div>
</main>
<!-- <app-footer></app-footer> -->
