<footer class="footer">
    <nav class="footer_nav container">
        <ul class="footer_navbar_items">
            <li class="footer_nav_item"><a href="">Archivo</a></li>
            <li class="footer_nav_item"><a href="">Temas</a></li>
            <li class="footer_nav_item"><a href="">Testimonios</a></li>
            <li class="footer_nav_item"><a href="">Acerca de..</a></li>
            <li class="footer_nav_item"><a href="">Contáctanos</a></li>
        </ul>
        <picture>
            <img src="../../../assets/img/titulo_blanco.svg" alt="">
        </picture>
    </nav>
    <div class="derechos_content">
        <p class="footer_derechos">Sitio web desarrollado por el autor del servicio</p>
        <p class="footer_copy">Todos los derechos reservados</p>
    </div>
</footer>
