<footer class="footer">
    <nav class="footer_nav container">
        <ul class="footer_navbar_items">
            <li class="footer_nav_item"><a routerLink="/home" (click)="irAlInicio()">Home</a></li>
            <!-- <li class="footer_nav_item"><a routerLink="/archivo" >Archivo</a></li> -->
            <li class="footer_nav_item"><a routerLink="/temas" (click)="irAlInicio()">Temas</a></li>
            <li class="footer_nav_item"><a routerLink="testimonio"(click)="irAlInicio()">Testimonios</a></li>
            <li class="footer_nav_item"><a routerLink="/acerca"(click)="irAlInicio()">Acerca de..</a></li>
            <li class="footer_nav_item"><a routerLink="/contacto"(click)="irAlInicio()">Contáctanos</a></li>
        </ul>
        <picture>
            <a routerLink="/" (click)="irAlInicio()">
                <img src="../../../assets/img/titulo_blanco.svg" alt="">
            </a>
        </picture>
    </nav>
    <div class="derechos_content">
        <p class="footer_derechos">Sitio web desarrollado por el autor del servicio</p>
        <p class="footer_copy">Todos los derechos reservados</p>
    </div>
</footer>
