<div class="ultimo-post-titulo">
    <p>Últimos Post</p>
</div>
<div *ngIf="loading" class="loading-indicator">Cargando...</div>
<ul class="content_last_art">
    @for (item of post; track $index) {
      <li>
          <article class="articles_box">
            <a [routerLink]="['/post', item.id]" (click)="incrementarVisitas(item.id)">
            <!-- <a (click)="incrementarVisitas(item.id)"> -->
                  <picture class="article_image">
                      <img src="{{item.image}}" 
                       alt="imagen">
                  </picture>
                  <div class="article_text_content">
                      <h3>{{item.titulo}}</h3>
                      <p>{{item.intro}}</p>
                      <p class="vermas">ver mas..</p>
                  </div>
              </a>
            </article>
            <div class="cont_indicadores">
                <picture>
                    <img src="../assets/img/eye-line.svg" alt="">
                    <p>{{item.visitas}}</p>
                </picture>       
                  <picture>
                      <img src="../assets/img/comment-outlined.svg" alt="">
                      <p>{{item.cantComentarios}}</p>
                  </picture>
                <a (click)="incrementarLikes(item.id)">
                  <picture>
                      <img src="../assets/img/heart-bold.svg" alt="">
                      <p>{{item.likes}}</p>
                  </picture>
                </a>
            </div>
      </li>
    }
</ul>    
