<main class="main_container">
    <div class="container_body container">
        <app-barra-lateral></app-barra-lateral>
        <section class="articles container">
            <article class="articles_box_ppal">
                <div class="articles_title">
                    <h1>Acerca de..</h1>
                    <p>Lo que se me puede ocurrir agregar</p>
                </div>
                    <div class="content_art_ppal">
                        <h3>¿Porque publicar este sitio..?</h3>
                        <p>Este sitio es el resultado de varios años de investigación empírica, de ensayos y muchos errores hacerca de las bondades del auto mejoramieto, entendiendo que, hoy en día uno de los grandes males de esta época, esta en la necesidad de sentir que es posible lograr las metas que nos proponemos, entendiendo el porque lo hacemos y cual es el propósito por el cual lo hacemos (mejorar)</p>
                    </div>
                    <div class="content_art_ppal">
                        <h3>Este sitio es obra de...</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet deserunt nulla cumque natus perspiciatis, nihil temporibus fuga dolorem quaerat, dolore, tempora totam aperiam? Sit in maxime quae ad vero odit laboriosam, rerum ipsa corrupti itaque porro vel consequatur labore totam? Inventore asperiores explicabo commodi eveniet repudiandae perferendis ullam veritatis quasi!</p>
                    </div>
            </article>
            <app-tres-ultimos-post></app-tres-ultimos-post>
        </section>
    </div>
</main>
