<main class="main_container">
    <div class="container_body container">
        <app-barra-lateral></app-barra-lateral>
        <section class="articles container">
            <article class="articles_box_ppal">
                <div class="articles_title">
                    <h1>Acerca de..</h1>
                    <p>Lo que se me puede ocurrir agregar</p>
                </div>
                    <div class="content_art_ppal">
                        <h3>¿Porque publicar este sitio..?</h3>
                        <p>Este sitio ha sido creado con el propósito de compartir artículos que abordan temas relacionados con la productividad y la adaptabilidad en busca del bienestar que obtenemos al hacer lo que nos apasiona, además de ser una fuente de sustento. Nuestro objetivo es ofrecer a los lectores llamadas a la acción a través de herramientas sencillas que puedan incorporar fácilmente a su vida diaria. Buscamos ampliar su marco de pensamiento presentando ideas diversas, incluso contrapuestas, que pueden o no coincidir con sus propias creencias, pero que, en definitiva, les brindarán una perspectiva alternativa para enriquecer su propio pensamiento.</p>
                        <br>
                        <p>Este sitio es el resultado de varios años de investigación empírica, ensayos y aprendizajes de los errores relacionados con el auto-mejoramiento. Reconocemos que en la actualidad nos enfrentamos a grandes desafíos, como el burnout, la presión de la inmediatez impulsada por las redes sociales y el cambio en las metas tradicionales que ya no satisfacen nuestras vidas. Nos hemos dado cuenta de la importancia de entender cómo y por qué perseguimos nuestras metas, así como de tomar conciencia del propósito que nos impulsa a hacerlo.</p>
                    </div>
                    <div class="content_art_ppal">
                        <h3>Este sitio es obra de...</h3>
                        <p>El autor es un profesional técnico con amplia formación en diversos sectores productivos, incluyendo la metalmecánica, la ingeniería, la industria automotriz y aeronáutica, entre otros. Actualmente, se desempeña en el campo de los sistemas e informática, centrándose en la gestión y mejora continua de los procesos operativos. Su principal interés radica en facilitar el logro de objetivos, tanto a nivel organizacional como individual, reconociendo que son los equipos los que posibilitan que las unidades de negocio alcancen metas integrales, contribuyendo así al éxito empresarial.</p>
                        <br>
                        <p><em>Las personas no son herramientas para ser utilizadas, sino seres humanos para ser comprendidos. </em><strong> Elton Mayo</strong> </p>
                    </div>
            </article>
            <app-tres-ultimos-post></app-tres-ultimos-post>
        </section>
    </div>
</main>
