<main class="main_container">
    <div class="container_body container">
        <app-barra-lateral></app-barra-lateral>
        
        <section class="articles container">
            <article class="articles_box_ppal">
                <div class="articles_title">
                    <h1>Testimonios</h1>
                    <p>Opiniones sobre el sitio y el autor</p>
                    <br>
                </div>
                    <div class="content_art_ppal">
                        <div *ngIf="loading" class="loading-indicator">Cargando...</div>
                        <div class="container-testimonial">
                            @for (item of test; track $index) {
                            <div class="container-person">
                                <div class="testimonial">
                                    <div class="photo-perfil">
                                        <img src="{{item.foto}}" alt="">
                                    </div>
                                    <h2>{{item.nombre}}</h2>
                                    <h4>{{item.cargo}}</h4>
                                    <details>
                                        <summary>Ver más..</summary>
                                        <p>{{item.recomendacion}}</p>
                                    </details>
                    
                                    <div class="container-redes">
                                        <img src="../../../assets/img/linkedin.svg" style="width: 35px;" alt="linkedin">
                                        <label class=""></label>
                                        <label class=""></label>
                                    </div>
                                </div>
                            </div>}
                        </div>
                       
                    </div>
            </article>
            <app-tres-ultimos-post></app-tres-ultimos-post>
        </section>
    </div>
</main>
